In [12]:
import numpy as np
import pandas as pd

In [13]:
car=pd.read_csv("Cleaned_Car_data.csv")

In [14]:
car

,Unnamed: 0,name,company,year,Price,kms_driven,fuel_type
0,0,Hyundai Santro Xing,Hyundai,2007,80000,45000,Petrol
1,1,Mahindra Jeep CL550,Mahindra,2006,425000,40,Diesel
2,2,Hyundai Grand i10,Hyundai,2014,325000,28000,Petrol
3,3,Ford EcoSport Titanium,Ford,2014,575000,36000,Diesel
4,4,Ford Figo,Ford,2012,175000,41000,Diesel
...,...,...,...,...,...,...,...
810,810,Maruti Suzuki Ritz,Maruti,2011,270000,50000,Petrol
811,811,Tata Indica V2,Tata,2009,110000,30000,Diesel
812,812,Toyota Corolla Altis,Toyota,2009,300000,132000,Petrol
813,813,Tata Zest XM,Tata,2018,260000,27000,Diesel
814,814,Mahindra Quanto C8,Mahindra,2013,390000,40000,Diesel

In [15]:
car.head()

,Unnamed: 0,name,company,year,Price,kms_driven,fuel_type
0,0,Hyundai Santro Xing,Hyundai,2007,80000,45000,Petrol
1,1,Mahindra Jeep CL550,Mahindra,2006,425000,40,Diesel
2,2,Hyundai Grand i10,Hyundai,2014,325000,28000,Petrol
3,3,Ford EcoSport Titanium,Ford,2014,575000,36000,Diesel
4,4,Ford Figo,Ford,2012,175000,41000,Diesel

In [16]:
car.shape

(815, 7)

In [17]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 815 entries, 0 to 814
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  815 non-null    int64
 1   name        815 non-null    object
 2   company     815 non-null    object
 3   year        815 non-null    int64
 4   Price       815 non-null    int64
 5   kms_driven  815 non-null    int64
 6   fuel_type   815 non-null    object
dtypes: int64(4), object(3)
memory usage: 44.7+ KB

In [18]:
car['year'].unique()

array([2007, 2006, 2014, 2012, 2013, 2016, 2015, 2010, 2017, 2008, 2018,
       2011, 2019, 2009, 2005, 2000, 2003, 2004, 1995, 2002, 2001],
      dtype=int64)

In [19]:
car['Price'].unique()

array([  80000,  425000,  325000,  575000,  175000,  190000,  830000,
        250000,  182000,  315000,  415000,  320000, 1000000,  500000,
        350000,  160000,  310000,   75000,  100000,  290000,   95000,
        180000,  385000,  105000,  650000,  689999,  448000,  549000,
        501000,  489999,  280000,  349999,  284999,  345000,  499999,
        235000,  249999, 1475000,  395000,  220000,  170000,   85000,
        200000,  570000,  110000,  448999, 1891111,  159500,  344999,
        449999,  865000,  699000,  375000,  224999, 1200000,  195000,
        351000,  240000,   90000,  155000,  600000,  189500,  210000,
        390000,  135000, 1600000,  701000,  265000,  525000,  372000,
        635000,  550000,  485000,  329500,  251111,  569999,   69999,
        299999,  399999,  450000,  270000,  158400,  179000,  125000,
        299000,  150000,  285000,  340000,   70000,  289999,  849999,
        749999,  274999,  984999,  599999,  244999,  474999,  245000,
        169500,  275000,  370000,  168000,  145000,   98500,  209000,
        185000,  900000,  699999,  199999,  544999,  199000,  540000,
         49000,  700000,   55000,  895000,  355000,  565000,  365000,
         40000,  400000,  330000,  580000,  379000,  219000,  519000,
        730000, 2000000, 2100000, 1400000,  311000,  855000,  535000,
        178000,  300000,  255000,  549999,  380000,   57000,  410000,
        225000,  120000,   59000,  599000,  675000,   72500,  610000,
        230000,  520000,  524999,  424999,  644999,  584999,  799999,
        444999,  649999,  944999,  574999,  374999,  130000,  401000,
       1350000,  174999,  239999,   99999,  324999, 1074999, 1130000,
        149000,  770000,   30000,  335000,  399000,   65000,  169999,
        165000,  560000,  950000,  715000,   45000,  940000,  155555,
       1500000,  495000,  800000, 1299000,  530000, 1499000,   32000,
        405000,  760000,  750000,  419000,  140000, 1540000,  123000,
        498000,  480000,  488000, 1525000,  548900,  725000,   99000,
         52000, 2800000,  499000,  381000,  278000,  690000,  260000,
         90001,  115000, 1599000,  159000,   51999,  215000,   35000,
       1150000,  269000,   60000,  430000,  401919,  490000,  424000,
        205000,  549900,  435000,  189700,  389700,  360000,  295000,
        114990, 1065000,  470000,   48000,  188000,  465000,  179999,
       2190000, 2390000, 1075000,  475000, 1025000,  615000, 1900000,
       1490000, 1510000, 1850000,  790000, 1725000, 1225000,   68000,
        970000, 3100000,  899000,   88000,   53000,  568500,   71000,
        590000,  795000,   42000,  189000,  162000,   35999, 2900000,
         39999,   50500,  510000,  860000,  500001], dtype=int64)

In [20]:
car['kms_driven'].unique()

array([ 45000,     40,  28000,  36000,  41000,  25000,  24530,  60000,
        30000,  32000,  48660,   4000,  16934,  43000,  35550,  39522,
        39000,  55000,  72000,  15975,  70000,  23452,  35522,  48508,
        15487,  82000,  20000,  68000,  38000,  27000,  33000,  46000,
        16000,  47000,  35000,  30874,  15000,  29685, 130000,  19000,
        54000,  13000,  38200,  22000,  50000,  13500,   3600,  45863,
        60500,  12500,  18000,  13349,  29000,  44000,  42000,  14000,
        49000,  36200,  51000, 104000,  33333,  33600,   5600,   7500,
        24330,  65480, 200000,  59000,  99000,   2800,  21000,  11000,
        66000,   3000,   7000,  38500,  37200,  43200,  24800,  45872,
        40000,  11400,  97200,  52000,  31000, 175430,  37000,  65000,
         3350,  75000,  62000,  73000,   2200,  54870,  34580,  97000,
           60,  80200,   3200,      0,   5000,    588,  71200, 175400,
         9300,  56758,  10000,  56450,  56000,  32700,   9000,     73,
       160000,  58559,  57000, 170000,  80000,   6821,  23000,  34000,
         1800, 400000,  48000,  90000,  12000,  69900, 166000,    122,
        36469,   7800,  24695,  15141,  59910, 100000,   4500, 129000,
          300, 131000, 111111,  59466,  25500,  44005,   2110,  43222,
       100200,     65, 140000, 103553,  58000, 120000,  49800,    100,
        81876,   6020,  55700,  18500,  53000,  35500,  22134,   1000,
         8500,  87000,   6000,   8000,  55800,  56400,  72160,  11500,
       133000,   2000,  88000,  65422, 117000, 150000,  10750,   6800,
         9800,  57923,  30201,   6200,  37518,  24652,    383,  95000,
         3528,  52500,  47900,  52800, 195000,  48008,  48247,   9400,
        64000,   2137,  10544, 147000,  90001,  48006,  74000,  85000,
        29500,  39700,  67000,  19336,  60105,  45933, 102563,  28600,
        41800, 116000,  42590,   7400,  54500,  76000,  11523,  38600,
        95500,  37458,  85960,  12516,  30600,   2550,  62500,  69000,
        28400,  68485,   3500,  85455,  63000,   1600,  77000,  26500,
         2875,  13900,   1500,   2450,   1625,  33400,  60123, 137495,
        91200, 146000, 100800,   2100,   2500, 132000], dtype=int64)

In [21]:
car['fuel_type'].unique()

array(['Petrol', 'Diesel', 'LPG'], dtype=object)

## Quality
- year has many non-year values
- year object to int
- Price to int
- price has Ask for price
- kms_driven object to int
- kms_driven has nan value
- fuel_type has nan value
- keep first 3 names

## Cleaning

In [22]:
backup=car.copy()

In [23]:
car

,Unnamed: 0,name,company,year,Price,kms_driven,fuel_type
0,0,Hyundai Santro Xing,Hyundai,2007,80000,45000,Petrol
1,1,Mahindra Jeep CL550,Mahindra,2006,425000,40,Diesel
2,2,Hyundai Grand i10,Hyundai,2014,325000,28000,Petrol
3,3,Ford EcoSport Titanium,Ford,2014,575000,36000,Diesel
4,4,Ford Figo,Ford,2012,175000,41000,Diesel
...,...,...,...,...,...,...,...
810,810,Maruti Suzuki Ritz,Maruti,2011,270000,50000,Petrol
811,811,Tata Indica V2,Tata,2009,110000,30000,Diesel
812,812,Toyota Corolla Altis,Toyota,2009,300000,132000,Petrol
813,813,Tata Zest XM,Tata,2018,260000,27000,Diesel
814,814,Mahindra Quanto C8,Mahindra,2013,390000,40000,Diesel

In [24]:
car['year'] = car['year'].astype(str)
car = car[car['year'].str.isnumeric()]

In [25]:
car['year']=car['year'].astype(int)

In [26]:
car=car[car['Price']!="Ask For Price"]

In [27]:
car['Price'] = car['Price'].astype(str)
car['Price']=car['Price'].str.replace(',','').astype(int)

In [28]:
car['kms_driven'] = car['kms_driven'].astype(str)
car['kms_driven']=car['kms_driven'].str.split(' ').str.get(0).str.replace(',','')

In [29]:
car['kms_driven'] = car['kms_driven'].astype(str)
car=car[car['kms_driven'].str.isnumeric()]

In [30]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 815 entries, 0 to 814
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  815 non-null    int64
 1   name        815 non-null    object
 2   company     815 non-null    object
 3   year        815 non-null    int32
 4   Price       815 non-null    int32
 5   kms_driven  815 non-null    object
 6   fuel_type   815 non-null    object
dtypes: int32(2), int64(1), object(4)
memory usage: 44.6+ KB

In [31]:
car['kms_driven']=car['kms_driven'].astype(int)

In [32]:
car=car[~car['fuel_type'].isna()]

In [33]:
car['name']=car['name'].str.split(' ').str.slice(0,3).str.join(' ')

In [34]:
car=car.reset_index(drop=True)

In [35]:
car

,Unnamed: 0,name,company,year,Price,kms_driven,fuel_type
0,0,Hyundai Santro Xing,Hyundai,2007,80000,45000,Petrol
1,1,Mahindra Jeep CL550,Mahindra,2006,425000,40,Diesel
2,2,Hyundai Grand i10,Hyundai,2014,325000,28000,Petrol
3,3,Ford EcoSport Titanium,Ford,2014,575000,36000,Diesel
4,4,Ford Figo,Ford,2012,175000,41000,Diesel
...,...,...,...,...,...,...,...
810,810,Maruti Suzuki Ritz,Maruti,2011,270000,50000,Petrol
811,811,Tata Indica V2,Tata,2009,110000,30000,Diesel
812,812,Toyota Corolla Altis,Toyota,2009,300000,132000,Petrol
813,813,Tata Zest XM,Tata,2018,260000,27000,Diesel
814,814,Mahindra Quanto C8,Mahindra,2013,390000,40000,Diesel

In [36]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 815 entries, 0 to 814
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  815 non-null    int64
 1   name        815 non-null    object
 2   company     815 non-null    object
 3   year        815 non-null    int32
 4   Price       815 non-null    int32
 5   kms_driven  815 non-null    int32
 6   fuel_type   815 non-null    object
dtypes: int32(3), int64(1), object(3)
memory usage: 35.1+ KB

In [37]:
car.describe()

       Unnamed: 0         year         Price     kms_driven
count  815.000000   815.000000  8.150000e+02     815.000000
mean   407.000000  2012.442945  4.017933e+05   46277.096933
std    235.414528     4.005079  3.815888e+05   34318.459638
min      0.000000  1995.000000  3.000000e+04       0.000000
25%    203.500000  2010.000000  1.750000e+05   27000.000000
50%    407.000000  2013.000000  2.999990e+05   41000.000000
75%    610.500000  2015.000000  4.900000e+05   56879.000000
max    814.000000  2019.000000  3.100000e+06  400000.000000

In [38]:
car = car[car['Price'] < 6e6].reset_index(drop=True)

In [39]:
car

,Unnamed: 0,name,company,year,Price,kms_driven,fuel_type
0,0,Hyundai Santro Xing,Hyundai,2007,80000,45000,Petrol
1,1,Mahindra Jeep CL550,Mahindra,2006,425000,40,Diesel
2,2,Hyundai Grand i10,Hyundai,2014,325000,28000,Petrol
3,3,Ford EcoSport Titanium,Ford,2014,575000,36000,Diesel
4,4,Ford Figo,Ford,2012,175000,41000,Diesel
...,...,...,...,...,...,...,...
810,810,Maruti Suzuki Ritz,Maruti,2011,270000,50000,Petrol
811,811,Tata Indica V2,Tata,2009,110000,30000,Diesel
812,812,Toyota Corolla Altis,Toyota,2009,300000,132000,Petrol
813,813,Tata Zest XM,Tata,2018,260000,27000,Diesel
814,814,Mahindra Quanto C8,Mahindra,2013,390000,40000,Diesel

In [40]:
car.to_csv("Cleaned_car_")

## Model

In [41]:
X=car.drop(columns="Price")
y=car['Price']

In [42]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [43]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [44]:
ohe=OneHotEncoder()
ohe.fit(X[['name','company','fuel_type']])

OneHotEncoder()

In [45]:
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']),
                                     remainder='passthrough')

In [46]:
lr=LinearRegression()

In [47]:
pipe=make_pipeline(column_trans,lr)

In [48]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [49]:
y_pred=pipe.predict(X_test)

In [50]:
r2_score(y_test,y_pred)

0.6029157011861326

In [51]:
scores=[]
for i in range(1000):
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2, random_state=i)
    lr=LinearRegression()
    pipe=make_pipeline(column_trans,lr)
    pipe.fit(X_train,y_train)
    y_pred=pipe.predict(X_test)
    scores.append(r2_score(y_test,y_pred))

In [52]:
np.argmax(scores)

433

In [53]:
scores[np.argmax(scores)]

0.84563422275557

In [54]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2, random_state=np.argmax(scores))
lr=LinearRegression()
pipe=make_pipeline(column_trans,lr)
pipe.fit(X_train,y_train)
y_pred=pipe.predict(X_test)
r2_score(y_test,y_pred)

0.84563422275557

In [55]:
import pickle

In [56]:
pickle.dump(pipe,open('LinearRegressionModel.pkl','wb'))

In [59]:

pipe.predict(pd.DataFrame([['Maruti Suzuki Swift', 'Maruti', 2017, 2000, 'Petrol', 0]],
                                       columns=['name', 'company', 'year', 'kms_driven', 'fuel_type', 'Unnamed: 0']))

array([340317.5257678])